body {
    background-color: aquamarine;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@media (max-width:414px){
body {
    background-color: white;
    background: #505D6E url("crest.png") no-repeat center center fixed;
min-height: 100%;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;  
    padding: 200px 20px 20px 20px;
    }
    
h1 {
        font-size: 3em;
        color:aliceblue;
    }
    
a {
        text-decoration: none;
        color:aliceblue;
    }
}